{{ define "main" }}
  <div class="container mx-auto">
    <h2 class="text-xl font-bold antialiased">{{ .Title }}</h2>
    <p>{{ .Content }}</p>
       {{ $pages := where .Pages "Type" "posts" }}
       {{ $postsPerPage := site.Params.postsPerPage | default 9 }}
       {{ $paginator := .Paginate $pages.ByDate.Reverse $postsPerPage }}
       <section class="mt-12 grid gap-6 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3">
           {{ range $paginator.Pages }}
            <article class="relative bg-white rounded-lg shadow-md p-6 transition ease-in-out delay-150 duration-300 border-l-4 border-orange-300 hover:-translate-y-1 hover:scale-105 hover:bg-orange-50 hover:border-l-4 hover:border-orange-500">
              <a href="{{ .RelPermalink }}" class="absolute inset-0 z-10" aria-hidden="true" tabindex="-1"></a>
              <time class="text-sm text-orange-400" datetime="{{ .Date | time.Format "" }}">{{ .Date | time.Format ":date_medium" }}</time>
              <h3 class="text-xl font-bold text-gray-900 mt-2 relative z-20">
                <a href="{{ .RelPermalink }}" class="hover:text-orange-600 transition">{{ .LinkTitle }}</a>
              </h3>
              <p class="text-gray-700 mt-2">
                {{ if isset .Params "description" | and (ne .Params.description "") -}}
                  {{ .Description | markdownify }}
                {{- else -}}
                  {{ .Summary | strings.Truncate 90 }}
                {{- end }}
              </p>
            </article>
         {{ end }}
      </section>
      {{ partial "pagination.html" . }}
  </div>
{{ end }}
